body{
    position: relative;
    background-color: hsl(233, 47%, 7%);
    font-size: 15px;
}

.container{
    background-color: hsl(244, 38%, 16%);
    display: flex;
    max-width: 75%;
    max-height: 370px;
    border-radius: 7px;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top: 67px;
}

.textMain{
    color: white;
    max-width: 600px;
    margin-top: 40px;
    margin-left: 75px;
    margin-right: 90px;
}

.photo{
    width: 450px;
    height: 370px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.colorInsights{
    color: hsl(277, 64%, 61%)
}

.companies{
    position: absolute;
    top: 75%;
    font-size: 20px;
}

.textCompanies{
    font-size: 13px;
}

.templates{
    position: absolute;
    top: 75%;
    left: 208px;
    font-size: 20px;
}

.textTemplates{
    font-size: 13px;
}

.queries{
    position: absolute;
    top: 75%;
    left: 330px;
    font-size: 20px;
}

.textQueries{
    font-size: 13px;
}

.attribution{
    font-size: 11px; 
    text-align: center;
    color: hsl(228, 45%, 44%);
    position: absolute;
    top: 590px;
    left: 40%;
}